
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Mylayout.cshtml";
}
<style>

    .img-company {
        width: 25%;
        height: 30%;
    }

    .cpn-box {
        border: 1px solid rgb(214, 214, 214);
        border-radius: 10px;
        box-shadow: 5px 5px 10px #cacaca;
    }
</style>
<div class="content">
    <div class="container">
        <div class="text-center mt-5 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Jobs</h6>
            <h3>Tin tuyển dụng</h3>
        </div>
        @{ Html.RenderAction("GetRecruitmentNew", "Home", new { count = 9 }); }
    </div>
    <div class="container">
        <div class="text-center mt-5 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Enterprise</h6>
            <h3>DOANH NGHIỆP ĐÃ KÝ KẾT VỚI KHOA</h3>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mt-3">
                <div class="cpn-box wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="cpn-box">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="cpn-box">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="cpn-box wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="cpn-box">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="cpn-box">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="cpn-box wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="cpn-box">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="cpn-box">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="cpn-box wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="cpn-box">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="cpn-box">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img src="https://it.tdtu.edu.vn/sites/cntt/files/companies/techbase.png" width="100%"
                                 height="100%">
                        </div>
                        <div class="col-lg-9">
                            <h6>
                                Công ty TNHH TECHBASE VIỆT NAM
                            </h6>
                            <a style="font-size:smaller;">Website: https://www.techbasevn.com/</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- News Job End -->
<script>
    window.onload = active();
    function active() {

        if (document.getElementById("nav-enterprise").className =="nav-item nav-link") {
            document.getElementById("nav-enterprise").className = "nav-item nav-link active";
        }
    }
</script>
