
@{
    ViewBag.Title = "AlumniCategory";
    Layout = "~/Views/Shared/Mylayout.cshtml";
    var m = "";
    switch (ViewData["majorKey"])
    {
        case "ky-thuat-phan-mem":
            m = "Kỹ Thuật Phần Mềm";
            break;
        case "khoa-hoc-may-tinh":
            m = "Khoa Học Máy Tính";
            break;
        case "mang-may-tinh":
            m = "Mạng Máy Tính Và Truyền Thông Dữ Liệu";
            break;
    }
}
<style>
    .img-alumni {
        width: 100%;
        height: 300px;
    }
</style>
<!-- Team Start -->
<div class="container py-5" style="margin-left:10%; width:80%">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5 title-lists">Cựu sinh viên @m - Đại học Tôn Đức Thắng</h1>
        </div>
        <div class="col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
            <form action="#">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Recipient's username"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row g-4">
            @{Html.RenderAction("GetAlumniByMajor", "Alumnis", new { major = m, count = 0 });}
        </div>
    </div>
</div>
<!-- Team End -->
