@{
    ViewBag.Title = "Thông tin sinh viên";
}
<!-- Profile section-->
<div class="container mt-2 mb-5">
    <div class="row bg-white border rounded position-relative shadow-lg">
        <!-- Profile picture + name -->
        <div class="col-md-4 col-sm-4 col-lg-4 rounded-start" style="background-color: #ea5257;">
            <div class="d-flex justify-content-center">
                <img class="mx-auto d-block rounded-circle mt-5" src="/images/mèo.jpg" alt="logo" height="100px"
                    width="auto">
            </div>
            <div class="text-white text-center align-items-center mt-5">
                <h2 id="name" class="text-break">Nguyễn Văn A</h2>
                <h3 id="job-title" class="text-break">Kỹ sư phần mềm</p>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <button class="btn btn-primary" style="background-color: #0067AC;" id="editBtn">Chỉnh
                    sửa</button>
            </div>

        </div>

        <!-- profile table -->
        <div class="col">
            <div class="mb-3 mt-3 p-5 fs-5">
                <form id="infoForm">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-4 col-form-label">Họ và tên</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" name="name" value="Nguyen van a" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="gender" class="col-sm-4 col-form-label">Giới tính</label>
                        <div class="col-sm-8">
                            <input type="text" id="gender" name="gender" value="Nam" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="dob" class="col-sm-4 col-form-label">Năm sinh</label>
                        <div class="col-sm-8">
                            <input type="text" id="dob" name="dob" value="2002" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" id="email" name="email" value="nguyenvana@gmail.com" class="form-control"
                                readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="phone" class="col-sm-4 col-form-label">SDT</label>
                        <div class="col-sm-8">
                            <input type="text" id="phone" name="phone" value="0347776921" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="link" class="col-sm-4 col-form-label">Link</label>
                        <div class="col-sm-8">
                            <input type="text" id="link" name="link" value="https://www.facebook.com/caigido"
                                class="form-control" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="major" class="col-sm-4 col-form-label">Chuyên ngành</label>
                        <div class="col-sm-8">
                            <input type="text" id="major" name="major" value="Kỹ thuật phần mềm" class="form-control"
                                readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="course" class="col-sm-4 col-form-label">Khóa</label>
                        <div class="col-sm-8">
                            <input type="text" id="course" name="course" value="2020 - 2024" class="form-control"
                                readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="graduation" class="col-sm-4 col-form-label">Năm tốt nghiệp</label>
                        <div class="col-sm-8">
                            <input type="text" id="graduation" name="graduation" value="2024" class="form-control"
                                readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="job" class="col-sm-4 col-form-label">Công việc hiện tại</label>
                        <div class="col-sm-8">
                            <input type="text" id="job" name="job" value="Kỹ sư phần mềm" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="workplace" class="col-sm-4 col-form-label">Nơi làm việc</label>
                        <div class="col-sm-8">
                            <input type="text" id="workplace" name="workplace" value="" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="workplace" class="col-sm-4 col-form-label">Thời gian</label>
                        <div class="col-sm-8">
                            <input type="text" id="workplace" name="workplace" value="" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="workplace" class="col-sm-4 col-form-label">Kỹ năng</label>
                        <div class="col-sm-8">
                            <input type="text" id="workplace" name="workplace" value="" class="form-control" readonly>
                        </div>
                    </div>
                    <!-- Add more fields as needed -->
                </form>
                <div class="d-flex justify-content-center mt-5 mb-5">
                    <button class="btn btn-success mt-3 d-none" id="saveBtn">Lưu</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Profile section end -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>