
@{
    ViewBag.Title = "DetailAlumni";
    Layout = "~/Views/Shared/Mylayout.cshtml";
}
<div class="container mt-3 mb-3 ">
    <!-- Profile Section -->
    <div class="mt-3 bg-white border rounded position-relative">
        <div class="border rounded-top " >
            <img src="~/Upload/images/banner1.jpg" alt="Profile background" style="height: 20%; width: 100%;">
        </div>

        <div class="row align-items-center p-4">
            <div class="col-lg-2 col-md-2 col-sm-2 col-12 DetailAlumni-profile-pics">
                <img src="~/Upload/images/mèo.jpg" class="rounded-circle img-fluid" alt="Profile Picture">
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-12 mt-3">
                <h2 id="name" class="text-break DetailAlumni-center-text">Nguyễn Văn A</h2>
                <p id="job-title" class="text-break DetailAlumni-center-text">Kỹ sư phần mềm</p>
                <p id="company" class="text-break DetailAlumni-center-text">Shopee Việt nam</p>
            </div>

            <div class="col-lg-2 col-md-2 col-12 DetailAlumni-center-btn">
                <button id="connect-to" type="button" class="btn btn-primary">Kết nối</button>
            </div>
        </div>
    </div>

    <!-- Education Section -->
    <div class="align-items-center section-body mt-3 bg-white border rounded" id="education-section">
        <div class="bg-primary p-3 rounded-top text-white">
            <h4>Education</h4>
        </div>
        <div class="p-2">
            <ul>
                <li class="mb-2">
                    <p id="university">Ton Duc Thang University</p>
                    <p id="major">Kỹ thuật phần mềm 2020 - 2024</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience Section -->
    <div class="align-items-center section-body mt-3 bg-white border rounded" id="experience-section">
        <div class="bg-primary p-3 rounded-top text-white">
            <h4>Experience</h4>
        </div>
        <div class="p-2 rounded-bot">
            <ul id="experience-list ">
                <li class="mb-2">
                    <p id="job" class="h5">Kỹ sư phần mềm</p>
                    <ul>
                        <li id="company-experience" class="mb-1">Shopee - Full-time</li>
                        <li id="duration" class="mb-1">05/2022 – Hiện tại</li>
                        <li id="description">
                            Tham gia Nhóm Nghiên cứu cơ bản của nhóm Tìm kiếm & Đề
                            xuất của
                            Shopee
                        </li>
                    </ul>
                </li>
                <li class="mb-2">
                    <p id="job" class="h5">Kỹ sư phần mềm</p>
                    <ul>
                        <li id="company-experience" class="mb-1">Shopee - Full-time</li>
                        <li id="duration" class="mb-1">05/2022 – Hiện tại</li>
                        <li id="description">
                            Tham gia Nhóm Nghiên cứu cơ bản của nhóm Tìm kiếm & Đề
                            xuất của
                            Shopee
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <!-- Skills Section -->
    <div class="align-items-center section-body mt-3 bg-white border rounded" id="skills-section">
        <div class="bg-primary p-3 rounded-top text-white">
            <h4>Skills</h4>
        </div>
        <div class="p-2">
            <ul id="skills-list">
                <li class="mb-2">Python</li>
                <li class="mb-2">JavaScript</li>
                <li class="mb-2">C#</li>

                @* <!-- Sử dụng vòng lặp để hiển thị danh sách kỹ năng -->
                    <!-- @foreach($skills as $skill)
                    <li class="list-group-item">{{ $skill }}</li>
                    @endforeach --> *@
            </ul>
        </div>
    </div>
</div>
