@model IEnumerable<TDTU_IT_alumni_management_system.Models.AlumnusModel>


@if (Model != null)
{
    foreach (var alumni in Model)
    {
        <div class="col-lg-3 col-md-6 wow fadeInUp p-2" data-wow-delay="0.1s">
            <div class="team-item bg-light " onclick="location.href='/@ViewBag.meta/chi-tiet/@alumni.IDAlumni'">
                <div class="overflow-hidden" style="height:65%">
                    <img class="img-fluid img-alumni" src="~/Upload/images/Avata/@alumni.ProfilePicture" alt="" style="object-fit:cover">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        <a class="btn btn-sm-square btn-primary mx-1" href="">
                            <i class="fas fa-globe"></i>
                        </a>
                    </div>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">@alumni.Name</h5>
                    <small>@alumni.Majors</small><br>
                    <small>Khóa: @(alumni.GraduationYear - 4) - @alumni.GraduationYear</small>
                </div>
            </div>
        </div>
    }
}