
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Mylayout.cshtml";
    string[] majorKeys = { "ky-thuat-phan-mem", "khoa-hoc-may-tinh", "mang-may-tinh" };
}
<style>
    .img-alumni {
        width: 100%;
        height: 300px;
    }
    .tempFixed {
        margin-left: auto;
        margin-right: auto;
        width: 87%;
    }
</style>

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container tempFixed">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5 title-lists">Cựu sinh viên khoa Công nghệ thông tin - Đại học Tôn Đức Thắng</h1>
        </div>
        <div class="row g-4">

            <div class="text-center wow fadeInUp mt-5" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Ngành</h6>
                <h1>Kỹ thuật phần mềm</h1>
            </div>
            <h6 class="bg-white bi-text-right text-primary" onclick="location.href='cuu-sinh-vien/@majorKeys[0]'">Xem thêm -></h6>

            @{Html.RenderAction("GetAlumniByMajor", "Alumnis", new { major = "Kỹ Thuật Phần Mềm", count = 12 });}

            <div class="text-center wow fadeInUp mt-5" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Ngành</h6>
                <h1 class="mb-3 ">Khoa học máy tính</h1>
            </div>
            <h6 class="bg-white bi-text-right text-primary" onclick="location.href='cuu-sinh-vien/@majorKeys[1]'">Xem thêm -></h6>
            @{Html.RenderAction("GetAlumniByMajor", "Alumnis", new { major = "Khoa Học Máy Tính", count = 12 });}

            <div class="text-center wow fadeInUp mt-5" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Ngành</h6>
                <h1 class="mb-3 ">Mạng Máy Tính Và Truyền Thông Dữ Liệu</h1>
            </div>
            <h6 class="bg-white bi-text-right text-primary" onclick="location.href='cuu-sinh-vien/@majorKeys[2]'">Xem thêm -></h6>
            @{Html.RenderAction("GetAlumniByMajor", "Alumnis", new { major = "Mạng Máy Tính Và Truyền Thông Dữ Liệu", count = 12 });}

        </div>
    </div>
</div>
<!-- Team End -->
<script>
    window.onload = active();
    function active() {

        if (document.getElementById("nav-alumni").className == "nav-item nav-link") {
            document.getElementById("nav-alumni").className = "nav-item nav-link active";
        }
    }
</script>
