@model IEnumerable<TDTU_IT_alumni_management_system.Models.Banner>
@foreach (var i in Model)
{
    <div class="owl-carousel-item position-relative" style="height: 540px;">
        <img class="img-fluid" src="~/Upload/images/Banner/@i.ImgBaner" alt="">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
             style="background: rgba(24, 29, 56, .7);">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-sm-10 col-lg-8">
                        <h4 class="text-primary text-uppercase mb-3 animated slideInDown">
                            Faculty of
                        </h4>
                        <h1 class="display-3 text-white animated slideInDown">
                            Information Technology
                        </h1>
                        <h1 class="display-3 text-white animated slideInDown">Ton Duc Thang University</h1>
                        <p class="fs-5 text-white mb-4 pb-2">
                            Từ nơi đây ánh sáng sẽ chiếu đến khắp nơi trong vũ
                            trụ
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



