@model TDTU_IT_alumni_management_system.Models.Header
<div class="col-md-8 col-lg-8 d-flex align-items-center">
    <img id="logo" src="~/Upload/images/Logo/@Model.ImgLogo" alt="Company Logo" class="img-fluid" width="8%" height="8%" style="margin-left:20%">
    <label id="name-title" class="ml-2 mb-0">@Model.Title</label>
</div>
