@{
    ViewBag.Title = "Trang chủ";
}
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5" style="height: 500px;">
    <div class="owl-carousel header-carousel position-relative">
        @{Html.RenderAction("getBanner", "Home");}
    </div>
</div>
<!-- Carousel End -->

<!-- Service Start -->
<div class="content">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" onclick="location.href = '/cuu-sinh-vien'"
                     style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Cựu sinh viên</h5>
                            <p>Khoa công nghệ thông tin  Trường đại học Tôn Đức Thắng</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" onclick="location.href = 'https://it.tdtu.edu.vn/'"
                     style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Trang Chủ Khoa CNTT</h5>
                            <p>Khoa công nghệ thông tin  Trường đại học Tôn Đức Thắng</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s"
                     style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">Home Projects</h5>
                            <p>Khoa công nghệ thông tin  Trường đại học Tôn Đức Thắng</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s"
                     style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;" onclick="window.location.href='https://it.tdtu.edu.vn/gioi-thieu'">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">Giới Thiệu</h5>
                            <p>Khoa công nghệ thông tin  Trường đại học Tôn Đức Thắng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-primary px-3">News</h6>
                    <h2>Tin tức</h2>
                </div>
                @{Html.RenderAction("GetNewsHome", "Home");}
            </div>
            <div class="col-md-3">
                <div class="text-center wow fadeInUp mb-3" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-danger px-3">Notification</h6>
                    <h3 style="color: red;">Thông báo</h3>
                </div>
                <div style="border-radius: 5px">
                    <div class="testimonial-item box-thong-bao wow fadeInUp mt-5" data-wow-delay="0.1s">
                        <!-- thẻ thông báo -->
                        @{Html.RenderAction("GetNotifyHome", "Home");}
                        <h6 class="bg-white text-primary md-5"
                            style="float: right;" onclick="window.location.href='/thong-bao'">
                            Xem thêm
                        </h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Courses Start -->
    <!-- News Job Start -->
    <div class="text-center wow fadeInUp mt-5" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Jobs</h6>
        <h3>Tin tuyển dụng</h3>
    </div>
    @{ Html.RenderAction("GetRecruitmentNew", "Home", new { count = 3 }); }
</div>
    <!-- News Job End -->
<script>
     $(document).ready(function () {
        $.get('@Url.Action("GetListNofityByMajors", "Home", new { id = @Session["Major"] })', function (data) {
            $('.notifications').append(data);
        });
    });
    window.onload = active();
    function active() {

        if (document.getElementById("nav-home").className =="nav-item nav-link") {
            document.getElementById("nav-home").className = "nav-item nav-link active";
        }
    }


</script>