@{
    ViewBag.Title = "Tạo thông báo";
}

<!-- Notification section-->
<div class="container mt-2 mb-5">
    <div class="row bg-white border rounded position-relative shadow-lg">
        <form>
            <div class="mt-3 mb-3">
                <div class="input-group">
                    <label for="tenThongBao" class="form-label visually-hidden">Tên thông báo</label>
                    <input type="text" class="form-control" id="tenThongBao" placeholder="Tên thông báo">
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <label for="loaiThongBao" class="form-label visually-hidden">Loại thông báo</label>
                    <select id="loaiThongBao" class="form-select form-select-lg mb-3" aria-label="Loại thông báo">
                        <option value="" selected disabled>Chọn loại thông báo</option>
                        <option value="1">Thông báo quan trọng</option>
                        <option value="2">Thông báo thông thường</option>
                        <option value="3">Thông báo khẩn cấp</option>
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <label for="diaChiNguoiNhan" class="form-label visually-hidden">Địa chỉ người nhận (bỏ trống nếu
                        thông báo chung)</label>
                    <input type="text" class="form-control" id="diaChiNguoiNhan"
                        placeholder="Địa chỉ người nhận (bỏ trống nếu thông báo chung)">
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <label for="noiDungThongBao" class="form-label visually-hidden">Nội dung thông báo</label>
                    <textarea class="form-control" id="noiDungThongBao" rows="3"
                        placeholder="Nội dung thông báo"></textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="fileInput" class="form-label col-sm-12">Default file input example</label>
                <div class="col-sm-12">
                    <input class="form-control" type="file" id="fileInput">
                </div>
            </div>


            <div class="row d-flex justify-content-end">
                <div class="col-md-6 mb-3 ">
                    <button type="button" class="btn btn-secondary" id="cancel-thongbao">Hủy</button>
                </div>
                <div class="col-md-6 mb-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" id="submit-thongbao"
                        style="background-color: #0067AC;">Gửi</button>
                </div>
            </div>

        </form>
    </div>

</div>
<!-- Notification section end -->