@model IEnumerable<TDTU_IT_alumni_management_system.Models.Header>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Quản lý Header</h2>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Tiêu đề </th>
                        <th>Chỉnh sửa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Upload/images/Logo/@Html.DisplayFor(modelItem => item.ImgLogo)" style="width : 100px ; height:90px" />
                            </td>
                            <td>
                                <h3 style="font-weight: bold ; color: black">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </h3>
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.IDHeader })" class="btn btn-primary">
                                    <span class="lnr lnr-pencil"></span>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
<style>
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>
<script>
        window.onload = active();
    function active() {
        if (document.getElementById("nav-headers").className == "") {
            document.getElementById("nav-headers").className = "active";
        }
    }

</script>