@model IEnumerable<TDTU_IT_alumni_management_system.Models.Notify>

@{
    ViewBag.Title = "Thông báo nhóm";
    Layout = "~/Views/Shared/Mylayout.cshtml";
}

<style>
    .container {
        max-width: 1200px;
    }

    .search-column {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .list-thong-bao {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: calc(106vh - 170px);
        overflow-y: auto;
    }

    .thong-bao {
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 10px; /* Reduced padding */
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .tieu-de h2 {
        color: #0061ad;
        font-size: 15px;
        font-weight: 700;
        grid-area: auto;
        line-height: 18.5714px;
        margin: 0px 90px 8px 0px;
        text-align: left;
    }

    .noi-dung {
        color: #686363;
        display: inline;
        font-size: 13px;
        font-weight: 700;
        grid-area: auto;
        line-height: 20px;
        text-align: left;
    }

        .noi-dung p {
            margin-bottom: 5px; /* Reduced margin */
        }

        .noi-dung a {
            color: #007bff;
            text-decoration: none;
            margin-right: 10px;
        }

    .nguon-goc {
        font-size: 12px;
        margin-top: 10px; /* Reduced margin */
    }

    .pagination {
        justify-content: center;
    }

    /* Added spacing between columns */
    .col-gap {
        margin-top: 20px;
    }
</style>
<body>
    <div class="text-center mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Notification</h6>
        <h3>Thông báo nhóm</h3>
    </div>
    <div class="container" style="margin-left: 17%; margin-right: 15%">
        <div class="row">
            <div class="col-lg-10 col-gap">
                <form id="searchForm">
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchByName" placeholder="Nhập từ khóa">
                            <input type="hidden" id="searchByID" value="@Session["Major"]" />
                            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
                <main>
                    <div id="searchResults" class="list-thong-bao">
                        @foreach (var i in Model)
                        {
                            <div class="thong-bao">
                                <div class="tieu-de">
                                    <h2>@i.Title</h2>
                                </div>
                                <div class="noi-dung">
                                    <p>
                                        @i.Description
                                    </p>
                                    <a href="/@ViewBag.meta/@i.meta/@i.IDNotify">Chi tiết thông báo</a>
                                    <p class="nguon-goc">Khoa CNTT | Ngày đăng  @i.datebegin.Value.ToString("dd/MM/yyyy")</p>
                                </div>
                            </div>
                        }

                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (event) {
            event.preventDefault(); // Ngăn chặn form gửi yêu cầu theo cách thông thường
            var searchString = $('#searchByName').val();
            var id = $('#searchByID').val();
            $.ajax({
                url: '/Notify/GetAllListNofityByMajors', // Thay đổi 'ControllerName' thành tên thực sự của controller của bạn
                type: 'GET',
                data: {
                    searchString: searchString,
                    id:id
                },
                success: function (result) {
                    $('#searchResults').html(result);
                },
                error: function (xhr) {
                    // Xử lý lỗi nếu có
                }
            });
        });
    });
    window.onload = active();
    function active() {

        if (document.getElementById("home-thong-bao").className == "nav-item nav-link") {
            document.getElementById("home-thong-bao").className = "nav-item nav-link active";
        }
    }
</script>
