@model TDTU_IT_alumni_management_system.Models.Notify

@{
    ViewBag.Title = "GetNofityDetal";
    Layout = "~/Views/Shared/Mylayout.cshtml";
}

<body style="background-color: white">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 news-detail"></div>
                <div class="col-lg-10 news-detail">
                    <h2 class="mb-4">@Model.Title</h2>
                    <p class="text-muted">@Model.datebegin.Value.ToString("MM/dd/yyyy h:mm tt")</p><hr>
                    <p>@Html.Raw(Model.Content)</p>
                </div>
            </div>
        </div>

</body>

<link href="~/Content/css/news.css" rel="stylesheet">

