
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Mylayout.cshtml";
}
<link href="~/Content/css/chat.css" rel="stylesheet">
<style>
    .tempFixed {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
</style>
<div class="container mt-3 tempFixed">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="chat history-list p-2">
                <div class="chat-messages" id="chat-messages">
                    @{Html.RenderAction("ResponseMsgView");}

                </div>
                <form class="chat-input" id="promptChat">
                    <input type="text" placeholder="Type a message... " id="txtInput" autofocus>
                    <button id="send" class="btn btn-primary ms-3" type="submit">Send</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#promptChat").submit(function (event) {
            event.preventDefault();

            var txtInput = $("#txtInput").val();
            $.ajax({
                url: '/BotChat/ResponseMsg',
                type: 'POST',
                data: {
                    prompt: txtInput,
                    count: 1
                },

                success: function (response) {
                    if (response.success) {
                        $("#txtInput").val("");
                        $('#chat-messages').html(""); // Clear any existing content
                        $('#chat-messages').load('/BotChat/ResponseMsgView');
                    } else {
                        alert(response.message);

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Có lỗi xảy ra, vui lòng thử lại sau!", textStatus, errorThrown);
                    alert("Có lỗi xảy ra, vui lòng thử lại sau!");
                }
            });

        });
    });
</script>

