@model TDTU_IT_alumni_management_system.Models.Administrator

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<!-- Modal hiển thị thông báo thành công -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="successModalLabel">Thành công</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Hiển thị thông báo thành công -->
                <p>@TempData["SuccessMessage"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal hiển thị thông báo lỗi -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="errorModalLabel">Lỗi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Hiển thị thông báo lỗi -->
                <p>@TempData["ErrorMessage"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Đổi mật khẩu</h2>
        <hr />
        @using (Html.BeginForm("ChangePassword", "LoginAdmin", FormMethod.Post, new { id = "change-password-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="current-password" class="control-label">Mật khẩu hiện tại:</label>
                <input type="password" class="form-control" id="current-password" name="CurrentPassword" placeholder="Nhập mật khẩu hiện tại">
            </div>
            <div class="form-group">
                <label for="new-password" class="control-label">Mật khẩu mới:</label>
                <input type="password" class="form-control" id="new-password" name="NewPassword" placeholder="Nhập mật khẩu mới">
            </div>
            <div class="form-group">
                <label for="confirm-password" class="control-label">Xác nhận mật khẩu mới:</label>
                <input type="password" class="form-control" id="confirm-password" name="ConfirmPassword" placeholder="Xác nhận mật khẩu mới">
                <span id="password-mismatch" style="display:none; color:red;">Mật khẩu không trùng khớp</span>
            </div>
            <button type="submit" id="submit-btn" class="btn btn-primary btn-lg btn-block">Đổi mật khẩu</button>
        }
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var confirmPasswordInput = document.getElementById('confirm-password');
        var passwordMismatchMessage = document.getElementById('password-mismatch');
        var submitBtn = document.getElementById('submit-btn');

        confirmPasswordInput.addEventListener('input', function () {
            var newPasswordInput = document.getElementById('new-password').value;
            var confirmPassword = confirmPasswordInput.value;

            if (newPasswordInput !== confirmPassword) {
                passwordMismatchMessage.style.display = 'block';
                submitBtn.style.backgroundColor = 'red';
                submitBtn.disabled = true;
            } else {
                passwordMismatchMessage.style.display = 'none';
                submitBtn.style.backgroundColor = '';
                submitBtn.disabled = false;
            }
        });
    });
    $(document).ready(function () {
        @if (TempData["ErrorMessage"] != null)
        {
            @:$('#errorModal').modal('show');
        }
    });
    $(document).ready(function () {
        @if (TempData["SuccessMessage"] != null)
        {
            @:$('#successModal').modal('show');
        }
    });
    window.onload = active();
    function active() {
        if (document.getElementById("nav-admins").className == "") {
            document.getElementById("nav-admins").className = "active";
        }
    };
</script>