
@{
    ViewBag.Title = "CheckTokenView";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="icon" type="image/x-icon" href="~/Upload/images/logo-tdtu.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/login.css">
    <link rel="icon" type="image/x-icon" href="~/Upload/images/Logo/logo-tdtu.png">
    <style>
        .tempFixed {
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }

        #loading-spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .loading-dot {
            margin-left: 2%
        }
    </style>
</head>
<body>
    <!-- Modal hiển thị thông báo thành công -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="successModalLabel">Thành công</h5>
                </div>
                <div class="modal-body">
                    <!-- Hiển thị thông báo thành công -->
                    <p id="successMessage"></p>
                </div>
                <div class="modal-footer">
                    <!-- Nút đóng modal -->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal hiển thị thông báo lỗi -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="errorModalLabel">Lỗi</h5>
                </div>
                <div class="modal-body">
                    <!-- Hiển thị thông báo lỗi -->
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 p-5 d-flex justify-content-center">
        <div class="row login-body mt-5 ms-5 me-5 tempFixed">

            <div class="col">
                <div class="login-form mb-5 mt-5">

                    <form id="tokenForm">
                        <div class="d-flex justify-content-center">
                            <p class="h2 htext">Nhập mã đã được gửi về email của bạn @(Session["tempMail"])</p>
                        </div>
                        <div class="mb-5 mt-5">
                            <label for="toKen" class="form-label">Token</label>
                            <input type="text" class="form-control" id="toKen" placeholder="Nhập token">
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-danger" onclick="location.href='/Login/Index'">Quay lại</button>
                            <button type="submit" class="btn btn-danger btn-login">Xác nhận</button>
                        </div>

                    </form>

                    <form id="resetForm" style="display:none;">
                        <h2 class="text-center mb-4">Đổi mật khẩu</h2>
                        <div class="form-group">
                            <label for="new-password" class="control-label">Mật khẩu mới:</label>
                            <input type="password" class="form-control" id="newPassword" name="NewPassword" placeholder="Nhập mật khẩu mới">
                        </div>
                        <div class="form-group">
                            <label for="confirm-password" class="control-label">Xác nhận mật khẩu mới:</label>
                            <input type="password" class="form-control" id="confirm-password" name="ConfirmPassword" placeholder="Xác nhận mật khẩu mới">
                            <span id="password-mismatch" style="display:none; color:red;">Mật khẩu không trùng khớp</span>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <button type="button" class="btn btn-danger  btn-lg " onclick="location.href='/Login/Index'">Hủy</button>
                            <button type="submit" id="submit-btn" class="btn btn-danger btn-lg btn-block" disabled>Đổi mật khẩu</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div id="loading-spinner" style="display: none;">
            <div class="loading-dot">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="loading-dot">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="loading-dot">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#tokenForm").submit(function (event) {
                event.preventDefault();

                var toKen = $("#toKen").val();
                $.ajax({
                    url: '/Login/CheckingTokenData',
                    type: 'POST',
                    data: {
                        Token: toKen,
                        check: 1
                    },

                    success: function (response) {
                        if (response.success) {
                            $("#successMessage").text(response.message);
                            $("#successModal").modal('show');
                            setTimeout(function () {
                                $("#successModal").modal('hide');
                            }, 1000);
                            $("#tokenForm").hide();
                            $("#resetForm").show();
                        } else {
                            $("#loading-spinner").hide();
                            $(".login-body").show(); 
                            $("#errorMessage").text(response.message);
                            $("#errorModal").modal('show');
                            setTimeout(function () {
                                $("#errorModal").modal('hide');
                            }, 1000);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#errorMessage").text("Có lỗi xảy ra, vui lòng thử lại.");
                        $("#errorModal").modal('show');
                        setTimeout(function () {
                            $("#errorModal").modal('hide');
                        }, 1000);
                    }
                });

            });
        });


    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var confirmPasswordInput = document.getElementById('confirm-password');
            var passwordMismatchMessage = document.getElementById('password-mismatch');
            var submitBtn = document.getElementById('submit-btn');

            confirmPasswordInput.addEventListener('input', function () {
                var newPasswordInput = document.getElementById('newPassword').value;
                var confirmPassword = confirmPasswordInput.value;
                if (newPasswordInput !== confirmPassword) {
                    passwordMismatchMessage.style.display = 'block';
                    submitBtn.disabled = true;
                } else {
                    passwordMismatchMessage.style.display = 'none';
                    submitBtn.disabled = false;
                }
            });
        });
    </script>
    <script>
        const form = document.getElementById("resetForm");
        $(document).ready(function () {
            $("#resetForm").submit(function (event) {
                event.preventDefault();

                var newPassword = $("#newPassword").val();
                $.ajax({
                    url: '/Login/CheckAndChangeDataInSession',
                    type: 'POST',
                    data: {
                        CurrentPassword: newPassword,
                        NewPassword: newPassword
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#successMessage").text(response.message);
                            $("#successModal").modal('show');
                            // Tự đóng modal sau 3 giây
                            setTimeout(function () {
                                $("#successModal").modal('hide');
                            }, 3000);
                            window.location.href = '/Login/Index';
                        } else {
                            $("#loading-spinner").hide();
                            $(".login-body").show(); 
                            $("#errorMessage").text(response.message);
                            $("#errorModal").modal('show');
                            setTimeout(function () {
                                $("#errorModal").modal('hide');
                            }, 1000);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#errorMessage").text("Có lỗi xảy ra, vui lòng thử lại.");
                        $("#errorModal").modal('show');
                        setTimeout(function () {
                            $("#errorModal").modal('hide');
                        }, 1000);
                    }
                });

            });
        });
    </script>
</body>
