@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link rel="icon" type="image/x-icon" href="~/Upload/images/logo-tdtu.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="~/Upload/images/Logo/logo-tdtu.png">

</head>
<body>
    <!-- Modal hiển thị thông báo lỗi -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="errorModalLabel">Lỗi</h5>
                </div>
                <div class="modal-body">
                    <!-- Hiển thị thông báo lỗi -->
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal hiển thị thông báo thành công -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="successModalLabel">Thành công</h5>
                </div>
                <div class="modal-body">
                    <!-- Hiển thị thông báo thành công -->
                    <p id="successMessage"></p>
                </div>
                <div class="modal-footer">
                    <!-- Nút đóng modal -->
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 p-5" style="margin-left:13%; width:75%">
        <div class="row login-body mt-5 ms-5 me-5">
            <div class="col-lg-4 logo-tittle d-none d-md-none d-lg-block" style="padding: 40px;">
                <img class="mx-auto d-block" src="\Upload\images\Logo\logo-tdtu-inkythuatso-01.png" alt="logo" width="150" height="75">
                <p class="h2 p-4 ms-2 text-white mt-1">Hệ thống quản lý <br>Cựu sinh viên </p>
            </div>
            <div class="col">
                <div class="login-form mb-5 mt-5">
                    <div class="d-flex justify-content-center">
                        <p class="h2 htext">Xin Chào!</p>
                    </div>
                    <form id="loginForm">
                        <div class="mb-3">
                            <label for="userID" class="form-label">Tài khoản</label>
                            <input type="text" class="form-control" id="userID" placeholder="Nhập tài khoản">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mật khẩu</label>
                            <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu">
                            <i class="fa fa-fw fa-eye field-icon toggle-password" id="togglePassword"></i>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-block btn-danger btn-login">Đăng nhập</button>
                        </div>

                        <div class="text-center mt-3">
                            <a href="#" onclick="showForgotPasswordForm()" id="forgotPasswordLink">Quên mật khẩu?</a>
                        </div>

                    </form>
                    <form class="forgot-password-form" id="forgotPasswordForm">
                        <div class="mb-3">
                            <label for="UID" class="form-label">Mã cựu sinh viên</label>
                            <input type="text" class="form-control" id="UID" placeholder="Nhập User ID">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Nhập email">
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <button type="button" class="btn btn-danger" onclick="hideForgotPasswordForm()">Quay lại</button>
                            <button type="submit" class="btn btn-danger btn-forgot">Gửi yêu cầu</button>
                        </div>
                        <div style="visibility: hidden;">
                            <div class="text-center mt-3">
                                <a>null</a>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
        <div id="loading-spinner" style="display: none;">
            <div class="loading-dot">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="loading-dot">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="loading-dot">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $("#loginForm").submit(function (event) {
            event.preventDefault();
            var userID = $("#userID").val();
            var password = $("#password").val();
            $("#loading-spinner").show(); // Hiển thị phần tử "loading spinner"
            $(".login-body").hide(); // Ẩn phần tử có class "login-body"
            $.ajax({
                url: '/Login/Login',
                type: 'POST',
                data: {
                    Username: userID,
                    Password: password
                },
                success: function (response) {
                    $("#loading-spinner").hide();
                    if (response.success) {
                        window.location.href = '/';
                    } else {
                        $("#loading-spinner").hide(); 
                        $(".login-body").show(); 
                        $("#errorMessage").text(response.message);
                        $("#errorModal").modal('show');
                        setTimeout(function () {
                            $("#errorModal").modal('hide');
                        }, 1000);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#loading-spinner").hide(); 
                    $(".login-body").show(); 
                    $("#errorMessage").text("Có lỗi xảy ra, vui lòng thử lại.");
                    $("#errorModal").modal('show');
                    setTimeout(function () {
                        $("#errorModal").modal('hide');
                    }, 1000);
                }
            });
        });

        var uid = "";
        $(document).ready(function () {
            $("#forgotPasswordForm").submit(function (event) {
                event.preventDefault();

                var email = $("#email").val();
                uid = $("#UID").val();
                $("#loading-spinner").show(); // Hiển thị phần tử "loading spinner"
                $(".login-body").hide(); // Ẩn phần tử có class "login-body"
                $.ajax({
                    url: '/Login/ForgotPassword',
                    type: 'POST',
                    data: {
                        Email: email,
                        Uid: uid
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#loading-spinner").hide(); 
                            $("#successMessage").text(response.message);
                            $("#successModal").modal('show');
                            setTimeout(function () {
                                $("#successModal").modal('hide');
                            }, 1000);
                            window.location.href = '/quen-mat-khau';
                        } else {
                            $("#loading-spinner").hide(); // Ẩn phần tử "loading spinner"
                            $(".login-body").show(); // Hiện phần tử có class "login-body"
                            $("#errorMessage").text(response.message);
                            $("#errorModal").modal('show');
                            setTimeout(function () {
                                $("#errorModal").modal('hide');
                            }, 1000);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#loading-spinner").hide(); // Ẩn phần tử "loading spinner"
                        $(".login-body").show(); // Hiện phần tử có class "login-body"
                        $("#errorMessage").text("Có lỗi xảy ra, vui lòng thử lại.");
                        $("#errorModal").modal('show');
                        setTimeout(function () {
                            $("#errorModal").modal('hide');
                        }, 1000);
                    }
                });
            });
        });
    </script>
    <script>
        // Hàm để hiển thị form quên mật khẩu và ẩn form đăng nhập
        function showForgotPasswordForm() {
            var loginForm = document.getElementById('loginForm');
            var forgotPasswordForm = document.getElementById('forgotPasswordForm');

            loginForm.style.display = 'none';
            forgotPasswordForm.style.display = 'block';
        }

        // Hàm để ẩn form quên mật khẩu và hiển thị form đăng nhập
        function hideForgotPasswordForm() {
            var loginForm = document.getElementById('loginForm');
            var forgotPasswordForm = document.getElementById('forgotPasswordForm');

            loginForm.style.display = 'block';
            forgotPasswordForm.style.display = 'none';
        }
    </script>
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordInput = document.getElementById('password');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });
    </script>


</body>
</html>
<style>
   

    .field-icon {
        margin-left:1%;
        margin-top:1%;
        position: absolute;
        cursor: pointer;
        z-index: 2;
    }
    #loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .loading-dot {
       margin-left:2%
    }
       

        
</style>

 