
@{
    ViewBag.Title = "Quản trị viên";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="panel panel-headline">
    <div class="banner">
        <img src="~/Upload/images/Banner/BannerIT.png" alt="Banner Image">
    </div>
    <div class="panel-heading">
        <h1>Quản lý hệ thống cựu sinh viên</h1>
        <hr />
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="metric">
                    <a href="/quan-ly/tin-tuc">
                        <span class="icon"><i class="lnr lnr-star"></i></span>
                        <p>
                            <span class="number">Quản lý</span>
                            <span class="title">tin tức</span>
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="metric">
                    <a href="/quan-ly/thong-bao">
                        <span class="icon"><i class="lnr lnr-alarm"></i></span>
                        <p>
                            <span class="number">Quản lý</span>
                            <span class="title">thông báo</span>
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="metric">
                    <a href="/quan-ly/cuu-sinh-vien">
                        <span class="icon"><i class="lnr lnr-graduation-hat"></i></span>
                        <p>
                            <span class="number">Quản lý</span>
                            <span class="title">Cựu sinh viên</span>
                        </p>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="metric">
                    <a href="/quan-ly/quan-tri-vien">
                        <span class="icon"><i class="lnr lnr-users"></i></span>
                        <p>
                            <span class="number">Quản lý</span>
                            <span class="title">Quản trị viên</span>
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="metric">
                    <a href="/quan-ly/doanh-nghiep">
                        <span class="icon"><i class="lnr lnr-apartment"></i></span>
                        <p>
                            <span class="number">Quản lý</span>
                            <span class="title">lnr lnr-apartment</span>
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="metric">
                    <a href="/quan-ly/tin-tuyen-dung">
                        <span class="icon"><i class="lnr lnr-laptop"></i></span>
                        <p>
                            <span class="number">Quản lý</span>
                            <span class="title">Tin tuyển dụng</span>
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="metric">
                    <a href="/quan-ly/khoa-hoc">
                        <span class="icon"><i class="lnr lnr-book"></i></span>
                        <p>
                            <span class="number">Quản lý</span>
                            <span class="title">Khóa học</span>
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="metric">
                    <a href="/quan-ly/tin-tuc">
                        <span class="icon"><i class="lnr lnr-star"></i></span>
                        <p>
                            <span class="number">Quản lý</span>
                            <span class="title">tin tức</span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = active();
    function active() {
        if (document.getElementById("nav-home").className == "") {
            document.getElementById("nav-home").className = "active";
        }
    }
</script>
<style>
    .banner {
        text-align: center; /* Canh giữa nội dung banner */
    }

        .banner img {
            width: 100%;
            height: 100%;
            max-width: 100%; /* Đảm bảo rằng hình ảnh không vượt quá chiều rộng của vùng hiển thị */
            max-height: 200px; /* Thiết lập chiều cao tối đa cho banner */
            object-fit: cover;
        }
</style>
