:root {
  --mainColor:white;
  --blue:#00AAFF;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #F3F5F8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #676a6d;
}

a {
  color: #3287B2;
}

a:hover,
a:focus {
  color: #3b98c8;
  text-decoration: none;
}

th {
  font-weight: 600;
}

.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}

.copyright {
  margin-bottom: 0;
  text-align: right;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .copyright {
    text-align: center;
    position: relative !important;
  }
}

/* menu */
#wrapper .sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 260px;
  height: 100%;
  float: left;
  background-color: var(--mainColor);
  position: fixed;
  left: 0;
}

#wrapper .main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 260px);
  left: 0;
  position: relative;
  float: right;
  background-color: #f5f5fa;
}

#wrapper #sidebar-nav,
#wrapper .main {
  padding-top: 80px;
}

@media screen and (max-width: 767px) {

  #wrapper #sidebar-nav,
  #wrapper .main {
    padding-top: 130px;
  }
}
/* kéo thanh menu vào */
.layout-fullwidth #wrapper .sidebar {
  left: -260px;
}

.layout-fullwidth #wrapper .main {
  width: 100%;
}

.layout-fullwidth #wrapper .navbar {
  left: 0 !important;
}

.layout-fullwidth #wrapper .btn-toggle-fullwidth {
  color: #00AAFF;
}

.offcanvas-active #wrapper .sidebar {
  left: 0;
}

.offcanvas-active #wrapper .main {
  width: 100%;
  position: relative;
  left: 260px;
}

@media screen and (max-width: 1024px) {
  #wrapper .sidebar {
    left: -260px;
  }

  #wrapper .main {
    width: 100%;
  }

  #wrapper .navbar {
    left: 0 !important;
  }

  #wrapper .btn-toggle-fullwidth {
    color: #00AAFF;
  }

  .btn-toggle-minified {
    display: none;
  }
}

.main-content {
  padding: 28px 10px;
}

.navbar+.main-content {
  padding: 105px 0 28px 5px;
}

@media screen and (max-width: 767px) {
  .navbar+.main-content {
    padding-top: 155px;
  }
}

.navbar-default {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #fafafa;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f8f8f8;
}

.navbar-default .brand {
  float: left;
  background-color: #fff;
  width: 17%;
}
.navbar-default .brand img{
  width:100%;
  padding-top: 12px;
}

@media screen and (max-width: 1024px) {
  .navbar-default .brand {
    padding-left: 30px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 992px) {
  .navbar-default .brand {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .navbar-default #navbar-menu {
    float: right;
  }
}

.navbar-btn {
  float: left;
  padding: 16px 0;
}

.navbar-btn button {
  font-size: 24px;
  padding: 4px 8px;
  line-height: .7;
  border: none;
  background: none;
  outline: none;
}

@media screen and (max-width: 640px) {
  .navbar-btn {
    padding-left: 0;
  }
}

.navbar-btn-right {
  float: right;
}

.navbar-form {
  padding: 15px;
  border: 0;
}

.navbar-form input[type="text"] {
  min-width: 200px;
}

@media screen and (max-width: 767px) {
  .navbar-form {
    float: left;
    width: 70%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-form .input-group {
    width: 70%;
  }

  .navbar-form input[type="text"] {
    min-width: 150px;
  }
}

@media screen and (max-width: 640px) {
  .navbar-form {
    display: none;
  }
}

.navbar-nav>li>a {
  padding: 28px 20px;
}

.navbar-nav>li>a>i {
  font-size: 22px;
  margin-right: 2px;
  vertical-align: middle;
}

.navbar-nav>li>a>i.icon-submenu {
  margin-left: 2px;
  margin-right: 0;
  font-size: 10px;
  position: relative;
  top: 2px;
}

.navbar-nav>li>a>span {
  position: relative;
  top: 2px;
}

.navbar-nav>li>a img {
  width: 22px;
  margin-right: 2px;
}

.navbar-nav>li>.dropdown-menu {
  padding: 0;
  min-width: 200px;
}

.navbar-nav .dropdown-menu {
  border-top: 2px solid #ACB0B5;
}

.navbar-nav .dropdown-menu>li>a {
  padding: 10px 20px;
}

.navbar-nav .dropdown-menu>li>a:hover,
.navbar-nav .dropdown-menu>li>a:focus {
  background-color: #fafafa;
}

.navbar-nav .dropdown-menu>li>a span,
.navbar-nav .dropdown-menu>li>a i {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .navbar-nav.navbar-right {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    width: 100%;
    margin: 0;
  }

  .navbar-nav>li {
    display: table-cell;
    width: 1%;
    position: inherit;
    text-align: center;
  }

  .navbar-nav>li>a {
    padding: 15px 20px;
  }

  .navbar-nav>li>a span:not(.badge),
  .navbar-nav>li>a .icon-submenu {
    display: none;
  }

  .navbar-nav .open .dropdown-menu {
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    position: absolute;
    width: 100%;
    margin-top: 3px;
    background-color: #fff;
  }

  .navbar-nav .open .dropdown-menu>li>a {
    padding: 10px 15px;
  }

  .navbar-nav .icon-menu {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-nav .icon-menu .badge {
    top: 10px;
    right: 15px;
  }
}

.navbar-toggle {
  padding: 5px 8px;
  margin: 20px 15px 20px 0;
}

.navbar-toggle .icon-nav {
  font-size: 24px;
}

.notification-item .dot {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  vertical-align: auto;
  zoom: 1;
  display: inline;
  width: 10px;
  height: 10px;
  content: '';
  margin-right: 8px;
}

ul.notifications>li {
  border-bottom: 1px solid #F0F0F0;
}

ul.notifications>li:last-child {
  border-bottom: none;
}

ul.notifications>li>.more {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
}

ul.notifications>li>.more:hover,
ul.notifications>li>.more:focus {
  text-decoration: none;
}

.dropdown-menu {
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-color: #eaeaea;
}

.dropdown-menu>li>a {
  color: #676a6d;
}

.dropdown-menu>li i {
  margin-right: 6px;
}

.dropdown-menu .active>a,
.dropdown-menu .active>a:focus,
.dropdown-menu .active>a:hover {
  background-color: #00AAFF;
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
  color: #a3a3a3;
}

.sidebar {
    z-index: 9;
    overflow-y: hidden; /* Ban đầu ẩn thanh cuộn */
    transition: all 1s ease; /* Thêm hiệu ứng chuyển đổi */
}
    .sidebar:hover {
        overflow-y: auto; /* Kích hoạt thanh cuộn khi hover vào sidebar */
    }

.sidebar .nav>li>a {
  padding: 18px 30px;
  color: black;
  border-left: 5px solid transparent;
}

    .sidebar .nav > li > a:hover {
        color: #5D87FF;
        background-color: #EEF3FF;

    }
    .sidebar .nav > li > a:focus,
    .sidebar .nav > li > a.active {
        /*        màu hover thẻ a*/
        color: #fff;
        background-color: #EEF3FF;
    }

    .sidebar .nav > li > a:hover i {
        color: #5D87FF;
        overflow-y: auto; /* Kích hoạt thanh cuộn khi hover vào sidebar */
    }
    .sidebar .nav > li > a:focus i,
    .sidebar .nav > li > a.active i {
         color: #fff;
    }

    .sidebar .nav > li > a:focus,
    .sidebar .nav > li > a.active {
        /*        màu nền chính*/ 
        background-color: #5D87FF;
        border-left-color: #FF090F;
    }

.sidebar .nav>li>a[data-toggle="collapse"] .icon-submenu {
  display: inline-block;
  vertical-align: middle;
  vertical-align: auto;
  zoom: 1;
  display: inline;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  float: right;
  position: relative;
  top: 5px;
  font-size: 12px;
  line-height: 1.1;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.sidebar .nav>li>a[data-toggle="collapse"].collapsed .icon-submenu {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.sidebar .nav>li>a .badge {
  font-weight: 400;
  background-color: #F9354C;
}

.sidebar .nav i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar .nav span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: -2px;
}

.sidebar .nav .nav {
  background-color: #252c35;
}

.sidebar .nav .nav>li>a {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar .nav .nav > li > a:focus,
.sidebar .nav .nav > li > a.active {
    background-color: #5d87ff;
    border-left-color: transparent;
}

.sidebar .nav .nav>li>a.active a {
  color: #fff;
}

.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 22px;
}

.btn-group-lg>.btn,
.btn-lg {
  padding: 10px 28px;
}

.btn-group-sm>.btn,
.btn-sm {
  padding: 5px 18px;
}

.btn-group-xs>.btn,
.btn-xs {
  padding: 5px 14px;
}

.btn-primary {
  background-color: #00AAFF;
  border-color: #00a0f0;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #00a0f0;
  border-color: #00a0f0;
}

.btn-warning {
  background-color: #e4cb10;
  border-color: #d6be0f;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #d6be0f;
  border-color: #d6be0f;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #f7f7f7;
}

.btn-success {
  background-color: #41B314;
  border-color: #3ca512;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #3ca512;
  border-color: #3ca512;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  margin-bottom: 30px;
}

.panel .panel-heading,
.panel .panel-body,
.panel .panel-footer {
  padding-left: 25px;
  padding-right: 25px;
}

.panel .panel-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.panel .panel-heading .panel-title {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.panel .panel-heading button {
  padding: 0;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}

.panel .panel-heading button i {
  font-size: 14px;
}

.panel .panel-body {
  padding-top: 10px;
  padding-bottom: 15px;
}

.panel .panel-note {
  font-size: 13px;
  line-height: 2.6;
  color: #777777;
}

.panel .panel-note i {
  font-size: 16px;
  margin-right: 3px;
}

.panel .right {
  position: absolute;
  right: 20px;
  top: 32%;
}

.panel.panel-headline .panel-heading {
  border-bottom: none;
}

.panel.panel-headline .panel-heading .panel-title {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: normal;
}

.panel.panel-headline .panel-heading .panel-subtitle {
  margin-bottom: 0;
  font-size: 14px;
  color: #8D99A8;
}

.panel.panel-scrolling .btn-bottom {
  margin-bottom: 30px;
}

.panel .table>thead>tr>td:first-child,
.panel .table>thead>tr>th:first-child,
.panel .table>tbody>tr>td:first-child,
.panel .table>tbody>tr>th:first-child,
.panel .table>tfoot>tr>td:first-child,
.panel .table>tfoot>tr>th:first-child {
  padding-left: 25px;
}

.panel .table>thead>tr>td:last-child,
.panel .table>thead>tr>th:last-child,
.panel .table>tbody>tr>td:last-child,
.panel .table>tbody>tr>th:last-child,
.panel .table>tfoot>tr>td:last-child,
.panel .table>tfoot>tr>th:last-child {
  padding-left: 25px;
}

.panel-footer {
  background-color: #fafafa;
}

.collapsing {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.label {
  font-weight: normal;
}

/* O vuông  */
.metric {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #DCE6EB;
}

.metric .icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #0081c2;
  text-align: center;
}

.metric .icon i {
  font-size: 18px;
  color: #fff;
}

.metric p {
  margin-bottom: 0;
  line-height: 1.2;
  text-align: right;
}

.metric .number {
  display: block;
  font-size: 28px;
  font-weight: 300;
}

.metric .title {
  font-size: 16px;
}
